name: renovate-config

"on":
  push:
    paths:
      - 'default.json'
    branches:
      - main
  pull_request:
    paths:
      - 'default.json'
  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
      - run: npx --package renovate -c 'renovate-config-validator'
      - run: npx --package renovate -c 'renovate-config-validator default.json'